body {
  margin: 0;
  padding: 0;
}

a {
  color: #009EB8;
  text-decoration: none;
}

a:hover {
  color: #E06666;
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  color: #BF9000;
}

h1 {
  margin-left: -3%;
}

#mc {
  margin: 2% 17%;
}

#langSelect {
  position: absolute;
  right: 2%;
}

#tags {
  position: absolute;
  bottom: 1%;
  width: 54%;
  margin: 0 23%;
  text-align: center;
}
