body {
  margin: 0;
  padding: 0;
}

a {
  color: #009EB8;
  text-decoration: none;
}

a:visited {
  color: #BF9000;
}

a:hover {
  color: #E06666;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: xx-large;
  margin-left: -3%;
}

h2 {
  color: #404;
  font-size: large;
  margin-top: 4%;
}

img {
  border-style: none;
  width: 80%;
  height: auto;
  margin: 1%;
}

.au {
  text-align: right;
  margin-right: -1%;
}

.blk {
  display: block;
}

.cntrd {
  text-align: center;
}

.cs {
  text-decoration: line-through;
}

.dt {
  display: block;
  color: #FC6500;
  font-size: small;
  text-align: right;
  margin-right: -2%;
}

.hdn {
  display: none;
}

.img-ph {
  display: inline-block;
  border: 1px solid;
  margin: 1%;
}

.pl {
  list-style-type: none;
}

.pl div {
  padding-left: 2.3%;
}

.qt {
  color: #777;
  font-style: italic;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.qt p {
  margin-top: 1.23%;
  margin-bottom: 1.23%;
}

.vid {
  text-align: center;
}

#langSelect {
  position: absolute;
  top: 2%;
  right: 2%;
}

#bye {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

#bbye {
  width: 50%;
  text-align: center;
}

#bbye p {
  margin: 1%;
}

#bbye .bbgl {
  padding-right: 8%;
  color: #E06666;
}

#bbye .bbcu {
  padding-left: 8%;
}

#mc {
  margin: 2% 17%;
}

#tags {
  position: relative;
  width: 54%;
  margin: 1% 23%;
  text-align: center;
}

#tags.gd {
  position: absolute;
  bottom: 0;
}
