---
permalink: /timer
redirect_from: /timer.html
title: memento mori
tags: [память, смерть]
---
{% include header.html %}
<h1>{{ page.title }}</h1>

<div class="dt"></div>

<div id="tcont" style="display: flex; align-items: center; justify-content: center;">
<div class="cntrd">

<div id="how-old-now">
<p class="en">how old are you?</p>
<p class="es">¿сuántos años tienes?</p>
<p class="ru">сколько тебе лет?</p>
<input id="how-old-now-val" type="number" min="1"></input><button onclick="yearsNow = parseInt(this.previousSibling.value); if (yearsNow > 0) {shoh(['#how-old-now', '#how-old-end']);}">~</button>
</div>

<div id="how-old-end">
<p class="en">how old do you want to be at the end?</p>
<p class="es">¿сuántos años tú quieres tener al final?</p>
<p class="ru">сколько тебе лет будет в конце концов?</p>
<input id="how-old-end-val" type="number" min="1"></input><button onclick="yearsEnd = parseInt(this.previousSibling.value); if (yearsEnd > yearsNow) {if (yearsEnd > 100) shoh(['#how-old-end', '#get-out']); else {shoh(['#how-old-end', '#timer']); setTimer();}}">~</button>
</div>

<div id="get-out">
<p class="en">you are very optimistic person. <a href="https://youtube.com/watch?v=wQ78t7Gamf4">get outta here</a> now.</p>
<p class="es">eres una persona muy optimista. <a href="https://youtube.com/watch?v=wQ78t7Gamf4">salir de aquí</a> ahora.</p>
<p class="ru">ты большой оптимист. <a href="https://youtube.com/watch?v=wQ78t7Gamf4">убирайся отсюда</a> сейчас же.</p>
</div>

<div id="timer">
<p id="final-countdown" style="font-size: 2.3em;"></p>
<p class="en"><a onclick="shoh(['#timer', '#timer-options']);">options</a></p>
<p class="es"><a onclick="shoh(['#timer', '#timer-options']);">opciones</a></p>
<p class="ru"><a onclick="shoh(['#timer', '#timer-options']);">варианты</a></p>
</div>

<div id="timer-options">
<div class="en">
<p>you have not much of options in fact.</p>
<p>don't smoke. move your body. sleep well.</p>
<p><a onclick="shoh(['#timer', '#timer-options']);">ok</a> | 
<a onclick="shoh(['#timer-options', '#how-old-now']);">reset</a></p>
</div>
<div class="es">
<p>no tienes mucho de opciones, de hecho.</p>
<p>no fume. mueve tu cuerpo. duerma bien.</p>
<p><a onclick="shoh(['#timer', '#timer-options']);">sí</a> | 
<a onclick="shoh(['#timer-options', '#how-old-now']);">restablecer</a></p>
</div>
<div class="ru">
<p>на самом деле у тебя не много вариантов.</p>
<p>не кури. двигайся. высыпайся.</p>
<p><a onclick="shoh(['#timer', '#timer-options']);">да</a> | 
<a onclick="shoh(['#timer-options', '#how-old-now']);">уточнить</a></p>
</div>
</div>

</div>
</div>

<script>
var dt = new Date(), finalCountdown = document.getElementById('final-countdown'), yearsNow, yearsEnd;
document.querySelector('.dt').innerHTML = dt.toISOString().slice(0, 10).replace(/-/g, '.');

eval(pageRedo.toString().replace(/\(\)\s*\{/, '(){\n'
  + 'document.getElementById(\'tcont\').style.height = (window.innerHeight - getHeight(\'h1\') - getHeight(\'.dt\') - getHeight(\'#tags\') - getHeight(\'#mc\') + document.getElementById(\'mc\').offsetHeight).toString() + \'px\';'));

opt.add('timer', 0);

if (opt.timer.v !== 0)
  shoh(['#how-old-now', '#how-old-end', '#timer-options', '#get-out']);
else
  shoh(['#how-old-end', '#timer', '#timer-options', '#get-out']);

var timer = setInterval(tickTimer, 1000);

function setTimer() {
  var d = new Date(), t = d.getTime();

  d.setFullYear(d.getFullYear() + yearsEnd - yearsNow);
  opt.set('timer', Math.floor((d.getTime() - t) / 1000));
  finalCountdown.innerHTML = '~'; // FIXME need to set something special
}

function tickTimer() {
  if (opt.timer.v > 0) {
    opt.set('timer', opt.timer.v - 1);
    var days = Math.floor(opt.timer.v / 86400);
    var hours = Math.floor((opt.timer.v - days * 86400) / 3600);
    var minutes = Math.floor((opt.timer.v - days * 86400 - hours * 3600) / 60);
    var seconds = opt.timer.v - days * 86400 - hours * 3600 - minutes * 60;
    finalCountdown.innerHTML = days + ' / ' + hours + ':' + minutes + ':' + (seconds < 10 ? '0' + seconds : seconds);
  }
}
</script>

{% include footer.html %}
