{%- if page.tags.size > 0 %}
<div id="tags">tags:
{% for tag in page.tags -%}
{% assign exists = false %}
{%- for rtag in site.rtags -%}
{% if rtag.slug == tag -%}
<i><a href="{{ rtag.url }}">{{ rtag.name }}</a></i>
{%- assign exists = true %}
{%- break -%}
{% endif %}
{%- endfor -%}
{% unless exists -%}
<i>{{ tag }}</i>
{%- endunless %}
{%- if tag != page.tags.last %}, {% endif -%}
{%- endfor %}
</div>
{% endif -%}
</div>
<div id="navToolz" lang='en'>
  <div id="langSelect"></div>
  <div id="navAb"><a href="/about">ⓘ</a></div>
  <div id="navP2M"><a href="/donation">💰</a></div>
</div>
<div id="bye"><div id="bbye">
  <div lang="en">
    <p class="bbgl">good luck!
    <p class="bbcu">see you soon…
  </div>
  <div lang="es">
    <p class="bbgl">buena suerte!
    <p class="bbcu">hasta pronto…
  </div>
  <div lang="ru">
    <p class="bbgl">удачи!
    <p class="bbcu">до скорого…
  </div>
</div></div>
<div style="display: none;">
<div id="temp-no-lang">
  <div lang="en">
    <p>sorry, currently no translation is available.
    <p>feel free to make translation by yourself and even send it via <a href="https://github.com/slr/slr.github.io/pulls">pull requests</a>.
  </div>
  <div lang="es">
    <p>lo siento, actualmente traducción no está disponible.
    <p>no dude en hacer la traducción por ti mismo e incluso enviarlo por <a href="https://github.com/slr/slr.github.io/pulls">pull requests</a>.
  </div>
  <div lang="ru">
    <p>сожалею, перевода пока нет.
    <p>не стесняйся сделать перевод самостоятельно и даже прислать его через <a href="https://github.com/slr/slr.github.io/pulls">pull requests</a>.
  </div>
</div>
</div>
</body>
</html>
