<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}: {{ page.title | replace: "<br><br>", " - " }}</title>
  <link rel="icon" type="image/png" href="/img/oh.png">
  <meta name="description" content="{{ site.description }}">
  <base target="_self">
{%- if page.categories contains "bike" -%}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}/на колёсах" href="/atomic/bike/" />
{%- elsif page.categories contains "fiction" -%}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}/проза" href="/atomic/fiction/" />
{%- elsif page.categories contains "poetry" -%}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}/стихи" href="/atomic/poetry/" />
{%- else -%}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="/atomic/" />
{%- endif -%}
  <link rel="stylesheet" type="text/css" href="/m.css">
  <script src="/m.js"></script>
</head>
<body onload="init();" style="display: none;">
<div id="mc">
<p id="navTop">
{%- if page.categories contains "bike" -%}
<a href="/bike/" lang="ru">к содержанию</a>
<a href="/bike/" lang="en">to Contents</a>
<a href="/bike/" lang="es">al índice</a>
{%- elsif page.categories contains "walk-in" -%}
<a href="/fiction/walk-in/" lang="ru">к содержанию</a>
<a href="/fiction/walk-in/" lang="en">to Contents</a>
<a href="/fiction/walk-in/" lang="es">al índice</a>
{%- elsif page.categories contains "fiction" -%}
<a href="/fiction/" lang="ru">к содержанию</a>
<a href="/fiction/" lang="en">to Contents</a>
<a href="/fiction/" lang="es">al índice</a>
{%- elsif page.categories contains "poetry" -%}
<a href="/poetry/" lang="ru">к содержанию</a>
<a href="/poetry/" lang="en">to Contents</a>
<a href="/poetry/" lang="es">al índice</a>
{%- elsif page.url != "/" -%}
<a href="/" lang="en">home</a><a href="/" lang="es">inicio</a><a href="/" lang="ru">домой</a>
{%- endif -%}
