<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}: {{ page.title }}</title>
  <link rel="icon" type="image/png" href="/img/oh.png">
  <meta name="description" content="{{ site.description }}">
  <base target="_self">
{%- if page.categories contains "bike" -%}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}/на колёсах" href="/atomic/bike/" />
{%- else -%}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="/atomic/" />
{%- endif -%}
  <link rel="stylesheet" type="text/css" href="/m.css">
  <script src="/m.js"></script>
</head>
<body onload="init();" style="display: none;">
<div id="mc">
