<!DOCTYPE html>
<html lang="ru,en,es">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="language" content="ru,en,es">
  <meta http-equiv="rating" content="general">
  <meta http-equiv="revisit-after" content="3 days">
  <meta charset="utf-8">
  <title>{{ site.name }}: {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" type="text/css" href="/m.css">
  <script src="/m.js"></script>
</head>
<body onload="init();" style="display: none;">
<div id="langSelect" lang='en'></div>
<div id="mc">
