{% include header.html -%}
<p id="navTop">
{%- if page.categories contains "walk-in" -%}
<a href="/fiction/walk-in/" lang="ru">к содержанию</a>
<a href="/fiction/walk-in/" lang="en">to Contents</a>
<a href="/fiction/walk-in/" lang="es">al índice</a>
{%- elsif page.url != "/" -%}
<a href="/" lang="en">home</a><a href="/" lang="es">inicio</a><a href="/" lang="ru">домой</a>
{%- endif -%}
<main>
<article>
<header>
<h1>{{ page.title }}</h1>
{%- if page.categories contains "walk-in" -%}
<p class="dt"><time datetime="{{ page.date | date: "%Y-%m-%d" }} 02:00">~</time>
{%- else -%}
<p class="dt"><time datetime="{{ page.date | date: "%Y-%m-%d" }} 02:00">{{ page.date | date: "%Y.%m.%d" }}</time>
{%- endif -%}
</header>
{{ content | strip }}
<footer>
<div class="au"><em>{% if page.author.name %}
  {{- page.author.name -}}
{% else %}
  {{- site.author.name -}}
{% endif %}</em></div>
</footer>
</article>
</main>
{%- include footer.html %}
